<div id="instructor-dash" class="dashboard">
<% @offerings_by_term.each do |term,offerings| %>
  <div class="row"><div class="span8 offset2">
    <h2><%= term.title %></h2>
    <div class="well">
    <% for offering in offerings %> 
    <div class="row"><div class="span8 offering">
        <div>
          <h3><%=offering.course.dept_code%> <%=offering.course.course_num%> : <%=offering.course.title%></h3>
        </div>
        <br/>
        <div class = "btn-group stages"> 
          <a class="btn <%= stage_color(offering, :review)%>" href="<%=offering_review_path(offering)%>">Review</a>
          <a class="btn <%= stage_color(offering, :details)%>" href="<%=offering_details_path(offering)%>">Details</a>
          <a class="btn <%= stage_color(offering, :objectives)%>" href="<%=offering_objectives_path(offering)%>">Objectives</a> 
          <a class="btn <%= stage_color(offering, :content)%>" href="<%=offering_content_path(offering)%>">Content</a> 
          <a class="btn <%= stage_color(offering, :assessments)%>" href="<%=offering_assessments_path(offering)%>">Assessment</a>
        </div>
      </div></div>
    <%end%>
    </div>
  </div></div>
<%end%>
</div>
