<div class = "container">
	<% @offerings_by_term.each do |term,offerings| %>
		<div class = "row">
			<div class = "span16"> 
				<h2><%=term.title%></h2> 
				<%for offering in offerings%> 
					<div class = "well" style="padding: 25px 50px;"> 
						<div class = "row"> 
							<div class = "span11">
								<b><%=offering.course.dept_code%> <%=offering.course.course_num%> </b>
							</div> 
							<div class = "span2">
								<b><%=offering.course.title%></b>
							</div>
							<div class = "btn-group"> 
								<a class="btn" href=<%=offering_details_path(offering)%> style = "width: 120px; height:30px;background:#CC0000"> Details</a> 
								<a class="btn" href=<%=offering_objectives_path(offering)%> style = "width: 120px; height: 30px;background:#33CC33;"> Objectives</a> 
								<a class="btn" href=<%=offering_details_path(offering)%> style = "width: 120px; height: 30px;background:#FFCC00;"> Mappings</a> 
								<a class="btn" href=<%=offering_assessment_path(offering)%> style = "width: 120px; height: 30px;background:#33CC33;"> Assessments</a>
							</div>
						</div>
					</div>
				<%end%>
			</div>
		</div>
	<%end%>
</div>
