<div class="row">
<div id="staff2-dash" class="dashboard span12">
 <h3>Instructor - Offerings Status</h3>
 <p>List of Instructors teaching in the current term and their status in completing necessary information</p>
 <table id="sortTableExample" class="table table-condensed">
  <thead>
   <tr>
    <th class="instructor">Instructor</th>
    <th class="course">Course</th>
    <th class="stages"></th>x
   </tr>
  </thead>

  <% @offerings.each do |offering| %>
    <tr>
      <td class="instructor"><%=offering.instructors.first.name%></td>      
      <td><a class="course" href="<%=offering_path(offering)%>"><%= offering.course %></a></td>
     <td class="stages">
        <div class="btn-group">
          <% stages = stage_colors(offering) %>
          <button class="btn btn-mini <%= stages[:review] %>">Review</button>
          <button class="btn btn-mini <%= stages[:details] %>">Details</button>
          <button class="btn btn-mini <%= stages[:objectives] %>">Objectives</button>
          <button class="btn btn-mini <%= stages[:content] %>">Content</button>
          <button class="btn btn-mini <%= stages[:assessments] %>">Assessments</button>
        </div>
     </td>

    </tr>
  <% end %>
 </table>
</div>
</div>
