<div class="row">
<div id="staff2-dash" class="dashboard span12">
 <h3>Instructor - Offerings Status</h3>
 <p>List of Instructors teaching in the current term and their status in completing necessary information</p>
 <table id="sortTableExample" class="table table-striped">	
  <thead>
   <tr>
    <th class="instructor">Instructor</th>
    <th class="course">Course</th>
    <th class="stages"></th>
   </tr>
  </thead>
	
  <% @offerings.each do |offering| %>
   <%for instructor in offering.instructors%>
    <tr title=<%=instructor.name%>>
     <td class="instructor"><%=instructor.name%></td>
     <td class="course"><%=offering.course %></td>
     <td class="stages">
        <div class="btn-group"> 
          <a class="btn <%= stage_color(offering, :review)%> btn-tiny" href="<%=offering_review_path(offering)%>">Review</a>
          <a class="btn <%= stage_color(offering, :details)%> btn-tiny" href="<%=offering_details_path(offering)%>">Details</a>
          <a class="btn <%= stage_color(offering, :objectives)%> btn-tiny" href="<%=offering_objectives_path(offering)%>">Objectives</a> 
          <a class="btn <%= stage_color(offering, :content)%> btn-tiny" href="<%=offering_content_path(offering)%>">Content</a> 
          <a class="btn <%= stage_color(offering, :assessment)%> btn-tiny" href="<%=offering_assessments_path(offering)%>">Assessment</a>
        </div>
     </td>
    
    </tr>
   <%end%>	
  <%end%>
 </table>
</div>
</div>
