<div id="staff-dash" class="dashboard">
 <h3>Instructor - Offerings Status</h3>
 <p>List of Instructors teaching in the current term and their status in completing necessary information</p>
 <table id="sortTableExample" class="table table-striped">	
  <thead>
   <tr>
    <th >&nbsp;</th>
    <th>Instructor</th>
    <th>Course No</th>
    <th>Course Title</th>
    <th title="Status of Editting Details">Status</th>
   </tr>
  </thead>
	
  <% @offerings.each do |offering| %>
   <%for instructor in offering.instructors%>
    <tr title=<%=instructor.name%>>
     <td>1</td>
     <td><%=instructor.name%></td>
     <td><%=offering.course.dept_code%> <%=offering.course.course_num%></td>
     <td><%=offering.course.title%></td>
     <td>
        <div class = "btn-group stages"> 
          <a class="btn green btn-tiny" href="<%=offering_review_path(offering)%>">Review</a>
          <a class="btn green btn-tiny" href="<%=offering_details_path(offering)%>">Details</a>
          <a class="btn green btn-tiny" href="<%=offering_objectives_path(offering)%>">Objectives</a> 
          <a class="btn yellow btn-tiny" href="<%=offering_content_path(offering)%>">Content</a> 
          <a class="btn red btn-tiny" href="<%=offering_assessment_path(offering)%>">Assessment</a>
        </div>
     </td>
    
    </tr>
   <%end%>	
  <%end%>
 </table>
</div>
