<div id="staff-dash">
  <div>
   <h3>Instructor Completion Status</h3>
   <p>List of instructors with complete and uncomplete courses</p> 
  </div>
  <div class="row">
    <div class="span5 alert alert-success">
      <h4>Instructors with all complete classes</h4><br>
      <div class="mini-layout">
        <ul>
          <% @greenInstructors.each do |inst| %>
            <li><%= inst.name %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="span5 alert alert-error">
      <h4>Instructors with uncomplete classes</h4><br>
      <div class="mini-layout">
        <ul>
          <% @redInstructors.each do |inst_offr| %>
            <li><%= inst_offr[:instructor].name %></li>
            <ul>
              <% inst_offr[:uncomplete].each do |offering| %>
                <li> 
                  <a href="<%=offering_path(offering)%>"><%= offering.course.dept_code%> <%= offering.course.course_num%></a> 
                </li>
              <% end %>
            </ul>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
