<div class="span10 offset1">
  <table class="table outcome-groups">
    <thead>
      <tr>
        <th class="title">Outcome Set</th>
        <th class="outcome-count">Outcomes</th>
        <th class="term-count"># Terms Used</th>
        <th class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <% @outcome_groups.each do |og| %>
        <tr>
          <td class="title"><%= link_to og, og %></td>
          <td class="outcome-count"><%= og.outcomes.count %></td>
          <td class="term-count"><%= og.terms.count %></td>
          <td class="actions">
            <%= link_to_if can?(:edit, og),
              'Edit',
              [:edit, og],
              class: 'btn btn-success btn-mini' do end
            %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to_if can?(:new, OutcomeGroup),
    'New',
    {action: :new},
    class: 'btn btn-primary' do end
  %>
</div>
