<%= form_for(@offering) do |f| %>
  <% if @offering.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@offering.errors.count, "error") %> prohibited this offering from being saved:</h2>

      <ul>
      <% @offering.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :term_id, "Term" %><br />
    <%= f.collection_select :term_id, Term.all, :id, :title, :prompt => "Select a Term" %>
  </div>
  <div class="field">
    <%= f.label :course_id, "Course" %><br />   
    <%= f.collection_select :course_id, Course.find(:all), :id, :course_field, :prompt => "Select a Course" %>
  </div>
  <div class="field">
    <%= f.label :section %><br />
    <%= f.text_field :section %>
  </div>
  <div class="field">
    <%= f.label :crn %><br />
    <%= f.text_field :crn %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
