<table id="offering-index" class="table table-condensed">
  <thead>
    <tr>
      <th>Course</th>
      <th>Term</th>
      <th>CRN</th>
      <th>Instructor(s)</th>
      <th class="actions"></th>
    </tr>
  </thead>
  <tbody>
    <% @offerings.each do |offering| %>
    <tr>
      <td><%= link_to offering.course, offering %></td>
      <td><%= offering.term %></td>
      <td><%= offering.crn%></td>
      <td>
        <%=
          str = ""
          offering.instructors.each { |instructor| str <<
           "#{instructor.name}, " }
          str.chomp!(", ")
          str
        %>
      </td>
      <td class="actions">
        <div>
          <% if can? :edit, offering %>
            <%= link_to edit_offering_details_path(offering),
              :class => 'btn btn-tiny btn-success' do
            %>
            Edit
            <% end %>
          <% end %>
        </div>
      </td>
    </tr>
    <% end %>
    <tr>
      <td colspan='6'><%= paginate @offerings %></td>
    </tr>
  </tbody>
</table>