<!-- Offering Index with Search bar -->

<div class="row">
  <div class="span10 offset1">
    <table id="offering-index" class="table table-condensed">
      <thead>
        <tr>
          <th>Course</th>
          <th>Term</th>
          <th>CRN</th>
          <th>Instructor(s)</th>
          <th class="actions"></th>
        </tr>
      </thead>
      <tbody>
        <% @offerings.each do |offering| %>
        <tr>
          <td><%= link_to offering.course, offering %></td>
          <td><%= offering.term %></td>
          <td><%= offering.crn%></td>
          <td>
            <%=
              str = ""
              offering.instructors.each { |instructor| str <<
               "#{instructor.name}, " }
              str.chomp!(", ")
              str
            %>
          </td>
          <td class="acitons">
            <div>
              <% if can? :edit, offering %>
                <%= link_to edit_offering_details_path(offering),
                  :class => 'btn btn-tiny btn-success' do
                %>
                Edit
                <% end %>
              <% end %>
              <% if can? :delete, offering %>
                <%= link_to(offering,
                  confirm: 'Are you sure?',
                  method: :delete,
                  :class => 'btn btn-tiny btn-danger') do
                %>
                <i class="icon-white icon-trash"></i>
                <% end %>
              <% end %>
            </div>
          </td>
        </tr>
      </tbody>
        <% end %>
    </table>
  </div>
</div>
