<%= bs_form_for(@offering, :html => {:class => 'form-horizontal edit-offering'}) do |f| %>
  <%= errors_for @offering %>

  <%= f.collection_select :term_id,
                          AcademicTerm.all,
                          :id, :title,
                          prompt: "Select a Term",
                          label: 'Term' %>

  <%= f.collection_select :course_id,
                          Course.find(:all),
                          :id, :course_field,
                          prompt: "Select a Course",
                          label: 'Course' %>

  <%= f.collection_select :instructor_ids,
                          User.with_role(:instructor).all,
                          :id, :name,
                          { label: 'Instructors'},
                          { multiple: true }
    %>

  <div class="form-actions">
    <%= f.submit class: 'btn' %>
  </div>
<% end %>

<p>
    <%= link_to 'View', offering_details_path(@offering) %> |
    <%= link_to 'Return to offering List', offerings_path %>
</p>
