<h2>Course Offerings for <%= @term.short %></h2>

<!-- TODO:eo add error summary display? shouldn't ever happen, but
     could be useful if validations change, etc -->

<%= form_for @term, url: academic_term_offerings_bulk_path(@term) do |f| %>
  <div class="row">
    <div id="instructors" class="span4">
      <h3>Instructors</h3>
      <div class="row">
        <% @instructors.each do |instructor| %>
          <button class="btn span2"
                  value="<%= instructor.id %>"><%= instructor %></button>
        <% end %>
      </div>
    </div>

    <div id="courses" class="span8">
      <% @instructors.each do |instructor| %>
      <div id="course-<%= instructor.id %>">
        <h3>Offerings for <%= instructor %></h3>
        <ul class="nav nav-tabs">
          <li class="active"><a href="#frequent_<%= instructor.id %>" data-toggle="tab">Frequent</a></li>
          <li class="all-courses"><a href="#all_<%= instructor.id %>" data-toggle="tab">All</a></li>
        </ul>
        <div class="tabbable">
          <div class="tab-content">
            <div class="tab-pane active row" id="frequent_<%= instructor.id %>">
              <% @frequent_courses[instructor.id][:courses].each do |course| %>
                <div>
                  <button class="btn span2 bulk-offering <% unless @offerings[instructor][course].new_record? %>active btn-primary<% end %>" value="<%= instructor.id %>_<%= course.id %>">
                    <%= course %>
                  </button>
                </div>
              <% end %>
            </div>
            <div class="tab-pane row" id="all_<%= instructor.id %>">
              <% @courses.each do |course| %>
                <div>
                  <%= f.fields_for :offerings, @offerings[instructor][course] do |o| %>
                    <%= o.hidden_field :course_id %>
                    <% unless o.object.new_record? %>
                      <%= o.hidden_field :id %>
                    <% end %>
                    <%= o.hidden_field :_destroy, value: 1, disabled: !o.object.new_record?, class: 'toggleable' %>
                    <%= o.fields_for :teachings do |t| %>
                      <%= t.hidden_field :user_id %>
                    <% end %>
                  <% end %>

                  <button class="btn span2 <% unless @offerings[instructor][course].new_record? %>active btn-primary<% end %>" value="<%= instructor.id %>_<%= course.id %>">
                    <%= course %>
                  </button>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="row">
    <div class="span8 offset4">
      <hr>
      <button class="btn btn-primary pull-right" type="submit">Update Term Offerings</button>
    </div>
  </div>
<% end %>
