<!--Help POPOVERS -->
<%
  @help = {
    :one => {title: '1',
      content: "Enter information about each objective by clicking the objective
      title.",
      position: 'right',
      style: ''},

    :two => {title: '2',
      content: "Fill out the \"How could this course be improved course\"
      and \"Any additional comments\".",
      position: 'right',
      style: ''},

    :three => {title: '3',
      content: "Clicking \"Save\" will save all your information. \"Cancel\"
      will not save any changed information and return you to the summary
      page.",
      position: 'right',
      style: ''},
  }
%>

<%= errors_for @offering, true %>

<%= form_for(@offering,
  html: {class: 'offering-assessment form-horizontal fancy-buttons'}) do |f|
  %>
  <div class="row"><div class="span8 offset1">
    <div class="accordion" id="assessment-accordion">
      <%= render partial: 'objective_assessment',
        collection: @objective_assessments,
        locals: {f: f}
      %>
      <div id="help_right"><%= insert_help :one %></div>
    </div>

    <br>
    <%= f.fields_for :assessment do |af| %>
      <%= render partial: 'assessment_field', locals: {
        f: af,
        field: :improved,
        label: "How could this course be improved?" }
      %>
      <div id="help_right"><%= insert_help :two %></div>
      <%= render partial: 'assessment_field', locals: {
        f: af,
        field: :comments,
        label: "Any additional comments:" }
      %>

    <% end %>

    <%= render 'offerings/fancy-buttons' %>

  </div></div>
<% end %>
