<h1><%= @offering %></h1>
<div class="edit-button">
  <%=
  link_to_if can?(:edit, @offering),
    'Edit',
    edit_offering_objectives_path(@offering),
    :class => 'btn btn-danger'
  %>
</div>
<br />
<hr>
  <table class="offering table table-bordered objective mappings">
    <thead>
      <tr>
         <th></th>
          <% @outcomes.each do |outcome| %>
          <th class="col-outcome"><abbr title="<%= outcome.title %>">
            <%= outcome.key %></abbr></th>
          <% end %>
      </tr>
    </thead>
    <tbody>
      <% @objectives.each do |objective| %>
        <tr>
          <td class="row-objective"><%= objective.description %></td>
          <% objective.mappings.each do |mapping| %>
            <td class="col-outcome">
            <% if mapping.value and mapping.value > 0 %>
              <i class="icon-ok"></i>
            <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>



