<%= no_bs_form_for(@academic_term) do |f| %>
  <% if @academic_term.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@academic_term.errors.count, "error") %> prohibited this academic_term from being saved:</h2>

      <ul>
      <% @academic_term.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
