<!-- Academic terms Index -->
<div class="row">
  <div class="span10 offset1">
    <table id="term-index" class="table table-condensed">
      <thead>
        <tr>
          <th>Title</th>
          <th>Date</th>
          <th>Offerings</th>
          <th class="actions"></th>
        </tr>
      </thead>
      <tbody>
        <% @academic_terms.each do |term| %>
        <tr>
          <td><%= link_to term.title, term  %></td>
          <td>
            <%= format_term_date(term.start_date) %> - <%= format_term_date(term.end_date) %>
          </td>
          <td>10 / <%= term.offerings.count %></td>
          <td class="actions">
            <div>
            <% if can? :edit, term %>
              <%= link_to edit_academic_term_path(term),
                  :class => 'btn btn-tiny btn-success' do %>
                  Edit
              <% end %>
            <% end %>
            </div>
          </td>
        </tr>
        <% end %>
    </table>
    <br>

    <% if can? :edit, @academic_terms %>
      <%= link_to 'New Term', new_academic_term_path, :class => 'btn' %>
    <% end %>
  </div>
</div>