<h1><%= @offering %></h1>
<hr>

<%= bs_form_for(@offering, html: {class: 'offering-content-groups'}) do |f| %>
  <% if @offering.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@offering.errors.count, "error") %> prohibited this offering from being saved:</h2>

    <ul>
      <% @offering.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="tabbable">
    <ul class="nav nav-pills">
      <% content_group_scopes(@offering.content_groups) do |group, id, name, css_class| %>
        <li class="<%= css_class %>">
          <%= link_to name, "##{id}" %>
        </li>
      <% end %>
    </ul>

    <div class="tab-content">
      <% content_group_scopes(@offering.content_groups) do |group, id, name, css_class| %>
        <%= f.fields_for :content_groups, group do |cgf| %>
          <div id="<%= id %>" class="tab-pane <%= css_class %>">
            <%= cgf.text_field :name, placeholder: 'Content group name', label: nil %>

            <table class="table-bordered table-striped content-and-mappings">
              <thead>
                <tr>
                  <th></th>
                  <% @outcomes.each do |outcome| %>
                  <th class="outcome"><abbr title="<%= outcome.title %>"><%= outcome.key %></abbr></th>
                  <% end %>
                </tr>
              </thead>
              <tbody>
                <%= cgf.no_bs_fields_for :content do |cf| %>
                <tr>
                  <th><%= cf.text_field :title, placeholder: 'Content name' %></th>
                  <%= cf.fields_for :mappings do |mf| %>
                  <td class="outcome">
                    <%= mf.text_field :value, :class => 'number_field' %>
                    <%= mf.hidden_field :outcome_id %>
                  </td>
                  <% end %>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="form-actions">
    <button type="submit" class="btn btn-primary">Save</button>
    <button type="reset" class="btn">Cancel</button>
  </div>
<% end %>
