<!--Help POPOVERS -->
<%
  @help = {
    :one => { title: '1',
      content: "First type in a content name if adding others then click the
      \"Add Content\" button then type in your content name.",
      position:'bottom',
      style: ''},

    :two => {title: '2',
      content: "Assign outcome(s) with a score which will add up to 10.",
      position: 'bottom',
      style: ''},

    :three => {title: '3',
      content: "Clicking \"Save\" or \"Save and Next\" will permanently save
      all changes, \"Save and Next\" will continue to next screen that needs to
      be filled out, \"Reset\" will erase all data on page, that has not been
      saved before. \"Cancel\" will not save any changed information and return
      you to the summary page.",
      position:'right',
      style: ''},

    :A => {title: 'A',
      content: "Delete will not permanently delete content until you click
      \"Save\" or \"Save and Next\".",
      position: 'right',
      style: 'top: -16px'},

  }
%>

<%= bs_form_for(@offering,
      html: {class: 'offering-content-groups fancy-buttons'}) do |f| %>
  <%= errors_for @offering, true %>

  <div class="tabbable">
    <ul class="nav nav-pills">
      <% content_group_scopes(@offering.content_groups) do
        |group, id, name, css_class| %>
        <li class="<%= css_class %>">
          <%= link_to name, "##{id}", 'data-toggle' => "pill" %>
        </li>
      <% end %>
      &nbsp;
      <hr>
    </ul>

    <div class="tab-content">
      <% content_group_scopes(@offering.content_groups) do
        |group, id, name, css_class| %>
        <%= f.fields_for :content_groups, group do |cgf| %>
          <div id="<%= id %>" class="content-group tab-pane <%= css_class %>">
            <table id="content_container"
                   class="table-bordered table-condensed mappings
                    content-and-mappings">
              <thead>
                <tr>
                  <th></th>
                  <% @outcomes.each do |outcome| %>
                  <th class="outcome"><abbr title="<%= outcome.description %>">
                    <%= outcome.key %></abbr></th>
                  <% end %>
                </tr>
              </thead>
              <tbody>
                <% content_scopes(cgf.object) do |content, css_class, row_id| %>
                  <tr class="content <%= css_class %>" id="<%= row_id %>">
                    <%= cgf.no_bs_fields_for :content, content do |cf| %>
                      <th>
                        <%= cf.label :_destroy, style: 'display: inline' do %>
                          <a class="btn btn-danger delete-content">
                            <i class="icon-white icon-remove">&nbsp;</i>
                          </a>
                        <% end %>
                        <%= cf.check_box :_destroy %>
                        <%= cf.hidden_field :position, :class => "position" %>
                        <%= cf.text_field :title, placeholder: 'Content name' %>
                      </th>
                      <% mapping_scopes(cf.object.mappings) do |mapping| %>
                        <td class="outcome">
                          <%= cf.fields_for :mappings, mapping do |mf| %>
                            <%= mf.text_field :value, :class => 'number_field' %>
                            <%= mf.hidden_field :outcome_id %>
                          <% end %>
                        </td>
                      <% end %>
                    <% end %>
                  </tr>
                <% end %>
              </tbody>
              <tfoot>
                <tr id="content-footer">
                  <td colspan="<%= 1 + @outcomes.count %>">
                    <button id="" class="add-content btn btn-success">
                      <i class="icon-white icon-plus"></i> Add Content</button>
                        &nbsp;<%= insert_help :one %>
                      <span class="offset1"><%= insert_help :A %></span>
                      <span class="offset2"><%= insert_help :two %></span>
                  </td>
                </tr>
              </tfoot>
            </table>

          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <% @no_reset_button = true %>
  <%= render 'offerings/fancy-buttons' %>
  <%= insert_help :three %>

<% end %>
