<div class="tabbable">
  <ul class="nav nav-pills">
    <li class="active"><a href="#1" data-toggle="tab">Summary</a></li>
    <% @offering.content_groups.each do |group| %>
      <li><a href="#group-<%= group.id %>" data-toggle="tab">
        <%= group.name %></a></li>
    <% end %>

     <div class="edit-button">
    <%=
    link_to_if can?(:edit, @offering),
      'Edit',
      edit_offering_content_path(@offering),
      :class => 'btn btn-danger'
    %>
    </div>
  &nbsp;
  <hr>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="1">
      <% @offering.content_groups.each do |group| %>
        <table class="offering table table-bordered objective mappings">
          <thead>
            <tr>
              <strong><th class="content_group row-content-title">
                <abbr title="<%= group.name %>"><%= group.name %></abbr>
              </th></strong>
              <% @offering.outcomes.each do |outcome| %>
                <th class="col-outcome"><%= outcome.key %></th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% group.content.each do |content| %>
              <tr>
              <td class="row-content"><%= content.title %></td>
                <% content.mappings.each do |mapping| %>
                  <td class="col-outcome"><%= mapping.value %></td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
    <% @offering.content_groups.each do |group| %>
      <div class="tab-pane" id="group-<%= group.id %>">
        <table class="offering table table-bordered objective mappings">
          <thead>
            <tr>
              <strong><th class="content_group">
                <abbr title="<%= group.name %>"><%= group.name %></abbr>
              </th></strong>
              <% @offering.outcomes.each do |outcome| %>
                <th class="col-outcome"><%= outcome.key %></th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% group.content.each do |content| %>
              <tr>
              <td class="row-content"><%= content.title %></td>
                <% content.mappings.each do |mapping| %>
                  <td class="col-outcome"><%= mapping.value %></td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  </div>
</div>