<h1>Export#offerings</h1>
<p>Find me in app/views/export/offerings.html.erb</p>

  <% @offerings.each do |offering| %>
   <%for instructor in offering.instructors%>
    <tr title=<%=instructor.name%>>
     <td class="instructor"><%=instructor.name%></td>
     <td class="course"><%=offering.course %></td>
     <td class="stages">
        <div class="btn-group"> 
          <a class="btn <%= stage_color(offering, :review)%> btn-tiny" href="<%=offering_review_path(offering)%>">Review</a>
          <a class="btn <%= stage_color(offering, :details)%> btn-tiny" href="<%=offering_details_path(offering)%>">Details</a>
          <a class="btn <%= stage_color(offering, :objectives)%> btn-tiny" href="<%=offering_objectives_path(offering)%>">Objectives</a> 
          <a class="btn <%= stage_color(offering, :content)%> btn-tiny" href="<%=offering_content_path(offering)%>">Content</a> 
          <a class="btn <%= stage_color(offering, :assessment)%> btn-tiny" href="<%=offering_assessments_path(offering)%>">Assessment</a>
        </div>
     </td>
    
    </tr>
   <%end%>	
  <%end%>