<%= form_for [@term, @course],
  builder: FancyFormBuilder,
  html: {class: 'form-horizontal'} do |f| %>


  <legend>
    <% if @course.new_record? %>
      New Course for <%= @term %>
    <% else %>
      Editing: <%= @course %>
    <% end %>
  </legend>

  <%= render partial: 'misc/errors', object: @course.errors %>

  <%= f.control_group :dept_code, label: 'Subject Code' do %>
    <%= f.text_field :dept_code %>
  <% end %>

  <%= f.control_group :course_num, label: 'Course Number' do %>
    <%= f.text_field :course_num %>
  <% end %>

  <%= f.control_group :title, label: 'Course Title' do %>
    <%= f.text_field :title %>
  <% end %>

  <div class="form-actions">
    <%= f.submit 'Save', class: 'btn btn-primary' %>
    <%= link_to 'Cancel', [@term, :courses], class: 'btn' %>
  </div>
<% end %>
