<div class="row">
  <div class="span10 offset1">
    <% @courses.group_by(&:group).each do |group, courses| %>
      <div class="span3"><b>Group: <%= group %></b></div>
      <table class="courses-index table" cellspacing="5px">
        <thead>
          <tr>
            <th></th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody class="no-first-border">
        <% courses.each do |course| %>
          <tr class="">
            <td class="select">
                <input type="checkbox"
                       id="course_check_<%= course.id %>"
                       value="option1">
            </td>
            <td class="subject-num"><%= course.short %></td>
            <td class="title"><%= course.title %></td>
            <td class="status">
              <div><%= course_status_label(course) %></div>
            </td>
            <td class="actions">
              <% if can? :edit, course %>
              <a class="btn btn-tiny btn-success"
                href="<%= url_for [:edit, @term, course] %>"
              >Edit
              <% end %>
              </a>
                <!--TODO:dkf when in retire mode change to icon-refresh -->
                <% if can? :edit, course %>
                <a class="btn btn-tiny btn-danger"
                ><i class="icon-trash icon-white"></i></a>
                <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>

