<p id="notice"><%= notice %></p>

<p>
  <b>Dept code:</b>
  <%= @course.dept_code %>
</p>

<p>
  <b>Course num:</b>
  <%= @course.course_num %>
</p>

<p>
  <b>Title:</b>
  <%= @course.title %>
</p>

<p>
  <b>Replaces</b>
  <ul>
  <% @course.replaces.each do |course| %>
  <li> <%= link_to course.to_s, course %> </li>
  <% end %>
  </ul>
</p>

<p>
  <b>Replaced By</b>
  <ul>
  <% @course.replaced_with.each do |course| %>
  <li> <%= link_to course.to_s, course %> </li>
  <% end %>
  </ul>
</p>

<%= link_to_if can?(:edit, @course), 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>

