<div class="row"><div class="span12">
  <%= link_to "Back to Outcome Groups", [OutcomeGroup] %>
  <h1><%= @outcome_group %></h1>

  <div class="row"><div class="span10 offset1">
    <table class="table outcomes">
      <thead>
        <tr>
          <th class="key">Key</th>
          <th class="description">Description</th>
          <th class="actions"></th>
        </tr>
      </thead>
      <tbody>
        <% @outcomes.each do |outcome| %>
          <tr>
            <th class="key"><%= outcome.key %></th>
            <td class="description"><%= outcome.description %></td>
            <td class="actions">
              <%= link_to_if can?(:edit, outcome),
                'Edit',
                [:edit, outcome],
                class: 'btn btn-mini' %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div></div>
  <%= link_to 'New', [:new, @outcome_group, :outcome], class: 'btn btn-primary' %>
</div></div>
