<%= bs_form_for(@content_group_name) do |f| %>
  <% if @content_group_name.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@content_group_name.errors.count, "error") %> prohibited this content_group_name from being saved:</h2>

      <ul>
      <% @content_group_name.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :name, label: 'Name' %>
  <%= f.check_box :active, label: 'Active' %>

  <div class="form-actions">
    <button type="submit" class="btn btn-primary">Save</button>
  </div>
<% end %>
