<h1>Content Group Names</h1>

<table class="table table-bordered">
  <tr>
    <th>Name</th>
    <th>Active</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @content_group_names.each do |content_group_name| %>
  <tr>
    <td><%= content_group_name.name %></td>
    <td><%= content_group_name.active %></td>
    <td><%= link_to 'Show', content_group_name %></td>
    <td><%= link_to 'Edit', edit_content_group_name_path(content_group_name) %></td>
    <td><%= link_to 'Destroy', content_group_name, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Content group name', new_content_group_name_path %>
