<div class="row details summary">
  <div class="span2">
    <dl class="">
      <dt>Instructors</dt>
      <% offering.instructors.each do |instructor| %>
        <dd><%= instructor %></dd>
      <% end %>
      <% if offering.is_complete? :details %>
        <dt>CRN #</dt>
        <dd><%= offering.crn %></dd>
        <dt>Section(s)</dt>
        <dd><%= offering.section %></dd>
        <dt>Credits</dt>
        <dd><%= offering.credits %></dd>
        <dt>Location</dt>
        <dd><%= offering.location %></dd>
      <% end %>
    </dl>
  </div>
  <% if offering.is_complete? :details %>
    <div class="span5">
      <dl class="padded">
        <dt>Description</dt>
        <dd><%= offering.description %></dd>
        <dt>Primary Textbook</dt>
        <dd><%= offering.textbook %></dd>
      </dl>
    </div>
  <% end %>
</div>
