<!-- Offering-Details-Edit -->
<h2>Details Edit</h2>

<div class="row"><div class="span12">
  <% if @offering.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@offering.errors.count, "error") %>
        prohibited this offering from being saved:
      </h2>
      <ul>
        <% @offering.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form_for(@offering,
    :html => {:class => 'form-horizontal edit-offering'}) do |f|
  %>
    <%= redirect_token url_for(action: 'edit') %>
    <div class="row">
      <div class="span6">
        <div class="control-group">
          <label class="control-label">
            CRN
            <%= help_tooltip("Course Number") %>
          </label>
          <div class="controls">
            <%= f.text_field :crn, :placeholder =>'12345', class: 'span4' %>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">
            Section
            <%= help_tooltip("Distinguish multiple classes of the same course
              number.")
            %>
          </label>
          <div class="controls">
            <%= f.text_field :section, :placeholder =>'01', class: 'span4' %>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">
            Credit(s)
            <%= help_tooltip("The number of hours for a course") %>
          </label>
          <div class="controls">
            <%= f.text_field :credits, :placeholder =>'4', class: 'span4' %>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">
            Location
            <%= help_tooltip("Building and Room") %>
          </label>
          <div class="controls">
            <%= f.text_field :location,
                             :placeholder =>'FAB 88',
                             class: 'span4'
            %>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">
            BSCE Requirement
            <%= help_tooltip("Indicate if this offering is required, an elective or not applicable toward a B.S. in Civil Engineering.") %>
          </label>
          <div class="controls">
            <%= f.radio_button :required_for_bsce, 
                               :Required, 
                               :class => :inline 
            %>
            <label for="required_for_bsce" class='inline'>Required</label><br />
            <%= f.radio_button :required_for_bsce,
                               :Elective,
                               :class => :inline 
            %>
            <label for="required_for_bsce" class='inline'>Elective</label><br />
            <%= f.radio_button :required_for_bsce,
                               "N/A",
                               :class => :inline
            %>
            <label for="required_for_bsce" class='inline'>N/A</label>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">
            BSENVE Requirement
            <%= help_tooltip("Indicate if this offering is required, an elective or not applicable toward a B.S. in Environmental Engineering.") %>
          </label>
          <div class="controls">
            <%= f.radio_button :required_for_bsenve,
                               :Required,
                               :class => :inline
            %>
            <label for="required_for_bsenve" class='inline'>Required</label>
            <br />
            <%= f.radio_button :required_for_bsenve,
                               :Elective,
                               :class => :inline
            %>
            <label for="required_for_bsenve" class='inline'>Elective</label>
            <br />
            <%= f.radio_button :required_for_bsenve,
                               "N/A",
                               :class => :inline
            %>
            <label for="required_for_bsenve" class='inline'>N/A</label>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">
            Day/Time
            <%= help_tooltip("Day and time of the course being offered") %>
          </label>
          <div class="controls">
            <%= f.text_field :day_and_time,
                             :placeholder =>'MW 18:40-21:20:00',
                             class: 'span4'
            %>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">
            Description
            <%= help_tooltip("Describe the course offering") %>
          </label>
          <div class="controls">
            <%= f.text_area :description,
                            :placeholder =>'Describe the course in your own
                            terms',
                            class: 'span4'
            %>
          </div>
        </div>
      </div>
      <div class="span6">
        <div class="control-group">
          <label class="control-label">
            Prerequisite(s)
            <%= help_tooltip("A course that must be taken
              prior to taking the offering")
            %>
          </label>
          <div class="controls">
            <%= f.text_area :prerequisites,
                            :placeholder =>'CE 210',
                            class: 'span4'
            %>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">
            Textbook
            <%= help_tooltip("Textbook name") %>
          </label>
          <div class="controls">
            <%= f.text_area :textbook,
                            :placeholder =>'A Textbook',
                            class: 'span4'
            %>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">
            Other Textbooks
            <%= help_tooltip("Listed additional textbooks") %>
          </label>
          <div class="controls">
            <%= f.text_area :additional_textbooks,
                            :placeholder =>'Some more books',
                            class: 'span4'
            %>
          </div>
        </div>
      </div>
    </div>
    <div class="actions offset1">
      <%= f.submit class: 'btn btn-success' %>
      <%= link_to 'View', offering_details_path(@offering),
        :class => 'btn btn-info' %>
      <%= link_to 'Return to offering List', offerings_path,  :class => 'btn'%>
    </div>
    <%= f.hidden_field :details_done, value: true %>
  <% end %>
</div>


