<!-- Offering-Details-Edit -->
<h2>Details Edit</h2>



<div class="row"><div class="span12">
  <% if @offering.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@offering.errors.count, "error") %>
        prohibited this offering from being saved:
      </h2>
      <ul>
        <% @offering.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form_for(@offering,
    :html => {:class => 'form-horizontal edit-offering'}) do |f|
  %>
    <%= redirect_token url_for(action: 'edit') %>
    <div class="row">
      <div class="span6">
        <div class="control-group">
          <label class="control-label">CRN</label>
          <div class="controls">
            <%= f.text_field :crn, class: 'span4' %>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Section</label>
          <div class="controls">
            <%= f.text_field :section, class: 'span4' %>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Credit(s)</label>
          <div class="controls">
            <%= f.text_field :credits, class: 'span4' %>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Location</label>
          <div class="controls">
            <%= f.text_field :location, class: 'span4' %>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Required</label>
          <div class="controls">
            <%=
              #options = [
              #  ["Required for BSCE", "Required for BSCE"],
              #  ["Required for BSENVE", "Required for BSENVE"],
              #  ["Elective for BSCE", "Elective for BSCE"],
              #  ["Elective for BSENVE", "Elective for BSENVE"]
              #]
              #f.select(:required_or_elective, options, {}, {:multiple=>true})
              # FIXME: tm Use a control like a multi-select or radio
              # button groups
              # instead of a textfield for required_or_elective
              f.text_field :required_or_elective, class: 'span4'
            %>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Day/Time</label>
          <div class="controls">
            <%= f.text_field :day_and_time, class: 'span4' %>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Description</label>
          <div class="controls">
            <%= f.text_area :description, class: 'span4' %>
          </div>
        </div>
      </div>
      <div class="span6">
        <div class="control-group">
          <label class="control-label">Prerequisite(s)</label>
          <div class="controls">
            <%= f.text_area :prerequisites, class: 'span4' %>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Textbook</label>
          <div class="controls">
            <%= f.text_area :textbook, class: 'span4' %>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Additional Textbooks</label>
          <div class="controls">
            <%= f.text_area :additional_textbooks, class: 'span4' %>
          </div>
        </div>
      </div>
    </div>
    <div class="actions offset1">
      <%= f.submit class: 'btn btn-success' %>
      <%= link_to 'View', offering_details_path(@offering),
        :class => 'btn btn-info' %>
      <%= link_to 'Return to offering List', offerings_path,  :class => 'btn'%>
    </div>
    <%= f.hidden_field :details_done, value: true %>
  <% end %>
</div>
