<!-- Offering-Details-Edit -->
<div class="row"><div class="span12">
  <%= errors_for @offering %>
  <%= form_for(@offering,
    builder: FancyFormBuilder,
    url: url_for(action: :update),
    html: {:class => 'form-horizontal edit-offering fancy-buttons'}) do |f|
  %>
    <div class="row">
      <div class="span6">
        <%= f.control_group :crn,
            label: 'CRN',
            tooltip: 'Course Record Number' do %>
          <%= f.text_field :crn, :placeholder =>'12345', class: 'span4' %>
        <% end %>
        <%= f.control_group :section,
            label: 'Section',
            tooltip: 'Class section number or numbers, separated by spaces' do %>
          <%= f.text_field :section, placeholder: '001 002', class: 'span4' %>
        <% end %>
        <%= f.control_group :location,
            label: 'Location',
            tooltip: 'Class location: building, room, etc' do %>
          <%= f.text_field :location, placeholder: 'FAB 88', class: 'span4' %>
        <% end %>
        <%= f.control_group :day_and_time,
            label: 'Day/Time',
            tooltip: 'Class meeting schedule' do %>
          <%= f.text_field :day_and_time,
            placeholder: 'MW 18:40-21:20',
            class: 'span4'
          %>
        <% end %>
        <%= f.control_group :credits,
            label: 'Credits',
            tooltip: 'Credit hours for class' do %>
          <%= f.text_field :credits, placeholder: '4', class: 'span4' %>
        <% end %>
        <%= f.control_group :required_for_bsce,
            label: 'BSCE Program',
            tooltip: 'In what way the class is applicable toward the B.S. Civil Engineering program' do %>
          <label class="radio inline">
            <%= f.radio_button :required_for_bsce, 'Required', class: 'inline' %>
            Required
          </label>
          <label class="radio inline">
            <%= f.radio_button :required_for_bsce, 'Elective', class: 'inline' %>
            Elective
          </label>
          <label class="radio inline">
            <%= f.radio_button :required_for_bsce, 'n/a', class: 'inline' %>
            n/a
          </label>
        <% end %>
        <%= f.control_group :required_for_bsenve,
            label: 'BSENVE Program',
            tooltip: 'In what way the class is applicable toward the B.S. Environmental Engineering program' do %>
          <label class="radio inline">
            <%= f.radio_button :required_for_bsenve, 'Required', class: 'inline' %>
            Required
          </label>
          <label class="radio inline">
            <%= f.radio_button :required_for_bsenve, 'Elective', class: 'inline' %>
            Elective
          </label>
          <label class="radio inline">
            <%= f.radio_button :required_for_bsenve, 'n/a', class: 'inline' %>
            n/a
          </label>
        <% end %>
        <%= f.control_group :description,
            label: 'Description',
            tooltip: 'Course catalog description' do %>
          <%= f.text_area :description,
            placeholder: 'Describe the course',
            class: 'span4'
          %>
        <% end %>
      </div>
      <div class="span6">
        <%= f.control_group :prerequisites,
            label: 'Prerequisite(s)',
            tooltip: 'Required courses for taking this class' do %>
          <%= f.text_area :prerequisites,
            placeholder: 'CE 210, CEE 101',
            class: 'span4'
          %>
        <% end %>
        <%= f.control_group :textbook,
            label: 'Textbook',
            tooltip: 'Primary textbook details' do %>
          <%= f.text_area :textbook, placeholder: 'Textbook details', class: 'span4' %>
        <% end %>
        <%= f.control_group :additional_textbooks,
            label: 'Other Textbooks',
            tooltip: 'List additional textbooks, separated with a blank line' do %>
          <%= f.text_area :additional_textbooks,
            placeholder: 'Blank line separated textbook details',
            class: 'span4'
          %>
        <% end %>
      </div>
    </div>
    <%= render 'offerings/fancy-buttons' %>
  <% end %>
</div>
