<div class="row">
<!-- Offering Details Show -->
  <div class="span2 float-right align-right">
    <%=
      link_to_if can?(:edit, @offering),
        'Edit',
        edit_offering_details_path(@offering),
        :class => 'btn btn-danger'
    %>
  </div>

  <div class="span4">
    <dl class="dl-horizontal padded">
    <% {
      crn: "CRN #",
      section: "Section(s)",
      credits: "Credits",
      location: "Location",
      day_and_time: "Meeting Times",
      required_for_bsce: "BSCE Program",
      required_for_bsenve: "BSENVE Program"
    }.each do |detail,title| %>
      <dt><%= title %></dt>
      <dd><%= @offering.send(detail) %></dd>
    <% end %>
    </ul>
  </div>
  <div class="span6">
    <dl class="padded">
    <% {
      :description => "Description",
      :prerequisites => "Prerequisites",
      :textbook => "Primary Textbook",
      :additional_textbooks => "Additional Textbooks"
    }.each do |detail,title| %>
      <dt><%= title %></dt>
      <dd><%= @offering.send(detail) %></dd>
    <% end %>
    </dl>
  </div>
</div>
