<table class='offering-details-view'>
  <tr>
    <td>CRN#</td><td><%= @offering.crn %></td>
  </tr>
  <tr>
    <td>Term</td><td><%= @term.title %></td>
  </tr>
  <tr>
    <td>Course</td><td><%= "#{@course.dept_code} #{@course.course_num}" %></td>
  </tr>
  <tr>
  <tr>
    <td>Title</td><td><%= @course.title %></td>
  </tr>
  <tr>
    <td>Section</td><td><%= @offering.section %></td>
  </tr>
  <tr>
    <td>Credits</td><td><%= @offering.credits %></td>
  </tr>
  <tr>
    <td>Required/Elective</td>
    <td>
      <%= @offering.required_or_elective %>
    </td>
  </tr>
  <tr>
    <td>Instructor(s)</td>
    <td>
      <%=
        str = ""
        @instructors.each { |instructor| str << "#{instructor.name}, " }
        str.chomp!(", ")
        str
      %>
    </td>
    <tr>
      <td>Day/Time</td>
      <td>
        <%= @offering.day_and_time %>
      </td>
    </tr>
    <tr>
      <td>Prerequisites</td>
      <td>
        <%= @offering.prerequisites %>
      </td>
    </tr>
    <tr>
      <td>Textbook</td>
      <td>
        <%= @offering.textbook %>
      </td>
    </tr>
    <tr>
      <td>Additional Textbook(s)</td>
      <td>
        <%= @offering.additional_textbooks %>
      </td>
    </tr>
    <tr>
      <td>Location</td>
      <td>
        <%= @offering.location %>
      </td>
    </tr>
</table>
<p>
<%= 
  link_to_if can?(:edit, @offering), 'Edit',
  edit_offering_details_path(@offering) 
%> 
| <%= link_to 'Return to offering List', offerings_path %>
</p>
