<!--HELP POPOVER -->
<%
  @help = {
    :one => {title: '1',
      content: "Select an offering then click \"Review\" to refresh offering
      below",
      position: 'right',
      style: ''},
  }
%>

<%= form_tag do %>
  <%= select_tag(:id,
        grouped_options_for_select(
          {
            'Recent offerings...' => @recent_options,
            'Your recent offerings...' => @my_recent_options
          },
          selected_key = @recent_offering_choice.try(:id)
        )
      )
  %>
  <%= submit_tag 'Review' %> &nbsp; <%= insert_help :one %>
<% end %>

<% unless @recent_offering_choice %>
  <h3>No offering selected</h3>
<% else %>

<h2><%= @recent_offering_choice %></h2>

<p>
  <strong>Taught by:</strong>
  <%= @recent_offering_choice.instructors.join ',' %>
</p>

<br>
<% if @assessment %>
  <%= render @assessment %>
<% else %>
  <h3>Selected offering has no assessment</h3><br>
<% end %>

<% end %>