<div class="row">
<div class="span6 offset3">
<h1>Sign In</h1>
<hr>
</div>
</div>

<div class="row">
  <div class="span4 offset4">
    <div style="margin: auto">
    <%= form_for @user_session,
             url: user_session_path,
             html: { class: 'well login-form' } do |f| %>
      <%= f.label :login %>
      <%= f.text_field :login %>
      <%= f.label :password %>
      <%= f.password_field :password %>
      <br />
      <%= button_tag(
        "Local Login",
        name: "login_type",
        value: 'local',
        class: 'btn'
        )
      %>
      <%= button_tag(
        "CAT Login",
        name: "login_type",
        value: 'ldap',
        class: 'btn'
        )
      %>
    <% end %>
  </div>
  </div>
</div>
