<ul class="nav">
<% nav_bar = nav_bar_spec() %>
<% nav_bar.each do |section,nav| %>
  <% if nav.is_a? Hash %>
  <li class="dropdown <%= active_section? section %>">
    <%= link_to section.to_s.titleize,
      '#',
      class: 'dropdown-toggle',
      'data-toggle' => 'dropdown'
      %>
    <ul class="dropdown-menu">
    <% nav.each do |subnav,path| %>
      <% subnav.to_s %>
      <li><%= link_to subnav.to_s.titleize, path %></li>
    <% end %>
    </ul>
  </li>
  <% else %>
    <li class="<%= active_section? section %>">
      <%= link_to section.to_s.titleize, nav %>
    </li>
  <% end %>
<% end %>
</ul>

<%= render partial: "layouts/secondary_nav" %>
