<% content_for :content do %>
  <div class="row">
    <div class="span9">
      <h1>
        <%= link_to @offering.course, offering_path(@offering) %>
        <% unless @offering.completed? %>
          <span class="offering-status label label-warning">In-Progress</span>
        <% else %>
          <span class="offering-status label label-success">Complete</span>
        <% end %>
      </h1>
    </div>
    <div class="span3" style="text-align: right;">
      <h1><%= @offering.term %></h1>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="span12">
      <ul id="offering-nav" class="nav nav-tabs">
        <% if @offering.is_complete? :importing %>
          <li class="<%= active_if(@nav_offering, :summary) %>">
            <%= link_to 'Summary', @offering %>
          </li>
        <li class="disabled"><a></a></li>
        <% end %>
        <li class="<%= active_if(@nav_offering, :review) %>">
          <%= stage_navbar_link :review %>
        </li>
        <% unless @offering.is_complete? :importing %>
          <%= stage_navbar_link :importing %>
          <li class="disabled"><a></a></li>
        <% end %>
        <% Offering::EDITING_STAGES.each do |stage| %>
          <%= stage_navbar_link stage %>
        <% end %>
        <li class="status">
        </li>
      </ul>
    </div>
  </div>

  <%= content_for?(:offering_content) ? yield(:offering_content) : yield %>
<% end %>

<%= render template: 'layouts/application' %>
